{% extends "/templates/base.twig" %}

{% block content %}
<div class="container text-center">
	<h3>Manage Patient</h3>
	<hr>
	<form class="form-horizontal" method="POST" action="save-patient">
		<input type="hidden" name="id" value="{{ patient.id }}"/>
		<div class="form-group">
			<label class="control-label col-md-3">Firstname</label>
			<div class="col-md-7">
				<input type="text" class="form-control" name="firstname" value="{{ patient.firstname }}"/>
			</div>				
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Lastname</label>
			<div class="col-md-7">
				<input type="text" class="form-control" name="lastname" value="{{ patient.lastname }}"/>
			</div>				
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Email</label>
			<div class="col-md-7">
				<input type="text" class="form-control" name="email" value="{{ patient.email }}"/>
			</div>				
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Telephone</label>
			<div class="col-md-7">
				<input type="text" class="form-control" name="telephone" value="{{ patient.telephone }}"/>
			</div>				
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Social Security Number</label>
			<div class="col-md-7">
				<input type="text" class="form-control" name="socialSecurityNumber" value="{{ patient.socialSecurityNumber }}"/>
			</div>				
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Save"/>
		</div>
	</form>
</div>
{% endblock %}