{% extends "/templates/base.twig" %}

{% block content %}
<div class="container text-center" id="patientsDiv">
	<h3>Patient</h3>
	<div class="table-responsive">
		<table class="table table-striped table-bordered text-left">
			<thead>
				<tr>
					<th>Id</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Email</th>
					<th>Telephone</th>
					<th>Social Security Number</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ patient.id }}</td>
					<td>{{ patient.firstname }}</td>
					<td>{{ patient.lastname }}</td>
					<td>{{ patient.email }}</td>
					<td>{{ patient.telephone }}</td>
					<td>{{ patient.socialSecurityNumber }}</td>
					<td><a href="update-patient?id={{patient.id}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a href="delete-patient?id={{patient.id}}"><span class="glyphicon glyphicon-trash"></span></a></td>
					<td><a href="new-disease?patientId={{patient.id}}"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<h4>Diseases:</h4>
	
	<div class="table-responsive">
		<table class="table table-striped table-bordered text-left">
			<thead>
				<tr>
					<th>Id</th>
					<th>Department</th>
					<th>Doctor</th>
					<th>End Date</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for disease in diseases %}
					<tr>
						<td>{{ disease.id }}</td>
						<td>{{ disease.department.getDepartmentName }}</td>
						<td>{{ disease.employe.getFirstname ~ ' ' ~ disease.employe.getLastname }}</td>
						<td>{{ disease.getEndDate }}</td>
						<td><a href="update-disease?patientId={{patient.id}}&diseaseId={{disease.id}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
						<td><a href="delete-disease?patientId={{patient.id}}&diseaseId={{disease.id}}"><span class="glyphicon glyphicon-trash"></span></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}